@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}
/* .container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */
.container__info {
    /* background-color: violet; */
    margin: 70px 0px 35px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: hsl(300, 43%, 22%);
    /* background-color: aquamarine; */
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    padding: 20px;
}
.description {
    /* background-color: yellow; */
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 150%;
    margin: 30px;
}
.rating__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    margin: 20px 30px;
}
.rating__imageContainer {
    /* background-color: crimson; */
    margin-top: 15px;
}
.rating__description {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    /* background-color: aqua; */
    margin-top: 15px;
    margin-bottom: 15px;
}
.comment__containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.comment__container {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 10px 30px;
}
.comment__image--profile {
    border-radius: 50%;
    height: 60px;
}
.comment__user {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}
.comment__verification {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}
.comment__text {
    color: hsl(300, 24%, 96%);
    text-align: left;
    line-height: 150%;
    margin: 30px 20px;
}